/* Custom styles go here. */

/* used to extend height of navbar to fit logo at all screen sizes */
/* .navbar {
    min-height: 57px;
}

.navbar-nav li a {
    padding-top:20px !important; 
    padding-bottom:20px !important;
}
 */

 .navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}